<form method="post" action="admin" enctype="application/x-www-form-urlencoded" class="form form--separated">

  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= formData.name %>" class="">
  </div>

  <div class="field field--textarea<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
    <label for="comment">Athugasemd:</label>
    <textarea name="comment" id="comment"><%= formData.description %></textarea>
  </div>

  <% if (errors.length> 0) { %>
    <h2 class="errors__title">Villur við viðburðarskráningu:</h2>
    <ul class="errors">
      <% errors.forEach((error)=> { %>
        <li class="error"><label for="<%= error.param %>">
            <%= error.msg %>
          </label></li>
        <% }); %>
    </ul>
    <% } %>

      <button class="button button--large button--margin">Skrá viðburð</button>
</form>
