<%- include('header') -%>
  <section>
    <h1>
      <%= title %>
    </h1>
    <h2>
      <%= event.description %>
    </h2>
    <br>
    <br>
  </section>
  <section>
    <% if (bookings.length===0) { %>
      <p class="registrations__empty">Engin skráð á þennan viðburð.</p>
      <% } else { %>
        <table class="registrations__table" cellpadding="0">
          <tr>
            <th>Dags</th>
            <th>Nafn</th>
            <th>Athugasemd</th>
          </tr>
          <% bookings.forEach((row)=> { %>
            <tr>
              <td class="date">
                <%= formatDate(row.created) %>
              </td>
              <td class="name">
                <%= row.name %>
              </td>
              <td class="comment">
                <%= row.comment %>
              </td>
            </tr>
            <% }) %>
              </tr>
        </table>
        <% } %>
  </section>
  <br>
  <section>
    <h2>Uppfæra viðburð</h2>
    <br>
    <form method="post" action="<%=event.slug %>" enctype="application/x-www-form-urlencoded"
      class="form form--separated">
      <div class="field<%= locals.isInvalid('name', errors) ? ' field--invalid' : '' %>">
        <label for="name">Nafn*</label>
        <input type="text" name="name" id="name" value="<%= formData.name %>" class="" />
      </div>

      <div class="field field--textarea<%= locals.isInvalid('description', errors) ? ' field--invalid' : '' %>">
        <label for="description">Description:</label>
        <textarea name="description" id="description"><%= formData.description %></textarea>
      </div>

      <% if (errors.length> 0) { %>
        <h2 class="errors__title">Villur við skráningu:</h2>
        <ul class="errors">
          <% errors.forEach((error)=> { %>
            <li class="error">
              <label for="<%= error.param %>">
                <%= error.msg %>
              </label>
            </li>
            <% }); %>
        </ul>
        <% } %>

          <button class="button button--large button--margin">Uppfæra!</button>
    </form>
    <p><a href="/admin"> Til baka</a></p>

  </section>

  <%- include('footer') -%>
