<section class="registrations">
  <h2 class="registrations__title">Viðburðir</h2>

  <% if (false) { %>
    <form class="form" method="get" action="/admin">
      <div class="field">
        <label for="search">Leit:</label>
        <input type="text" name="search" id="search" value="<%= search %>">
      </div>
      <button class="button">Leita</button>
    </form>
    <% } %>

      <% if (events.length===0) { %>
        <p class="registrations__empty">Engir Viðburðir.</p>
        <% } else { %>
          <table class="registrations__table" cellpadding="0">
            <tr>
              <th>Dags</th>
              <th>Nafn</th>
              <th>Athugasemd</th>
              <% if (admin) { %>
                <th>Eyða</th>
                <% } %>
            </tr>
            <% events.forEach((row)=> { %>
              <tr>
                <td class="date">
                  <%= formatDate(row.created) %>
                </td>
                <td class="name">
                  <%= row.name %>
                </td>
                <td class="comment">
                  <%= row.description %>
                </td>
                <% if (admin) { %>
                  <td>
                    <form class="delete-form" method="post" action="/admin/delete/<%= row.id %>">
                      <button class="button">Eyða</button>
                    </form>
                  </td>
                  <% } %>
              </tr>
              <% }) %>
                </tr>
          </table>
          <% } %>
</section>
